* {
  box-sizing: border-box;
  /* min-width: 0px; */
}

html {
  width: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 1em;
  background: black;
  display: flex;
  justify-content: space-around;
  color: cyan;
}

.instructions {
  font-size: 0.8em;
  color: #aaa;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.card {
  background: #000000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 16px;
}
.card header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #878787;
  margin-bottom: 1em;
  padding: 16px;
}

.card header h1:hover {color: darkcyan}

.card header h1 {
  margin: 0;
}
.card header .button-as-link {
  margin-right: 1em;
}
.card aside {
  padding-left: 16px;
  padding-right: 16px;
}

.card_body {
  display: flex;
}

.card_right-column {
  padding-right: 16px;
}

canvas {
    background: transparent;
    image-rendering: pixelated; 
}

#canvas{
    position: relative;
    outline: 3px solid cyan;
    z-index: 10;
}

#canvasBG{
    background-image: url('tilesets/default/defaultBG.png');
    position: absolute;
    z-index: 1;
    image-rendering: pixelated;
    background-repeat: repeat;
    background-position: left bottom;
}

.volume-container {
    position: relative;
    image-rendering: pixelated; 
}

.object-container {
  position: relative;
  image-rendering: pixelated; 
}

.tileset-container {
  position: relative;
  image-rendering: pixelated; 
}

.volume-container_selection {
    position: absolute;
    outline: 3px solid cyan;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    pointer-events:none;
    z-index: 2;
}

.volume-container_selection2 {
    position: absolute;
    outline: 3px solid white;
    mix-blend-mode: difference;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    pointer-events:none;
}

.object-container_selection {
  position: absolute;
  outline: 3px solid cyan;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  pointer-events:none;
  z-index: 2;
}

.object-container_selection2 {
    position: absolute;
    outline: 3px solid white;
    mix-blend-mode: difference;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    pointer-events:none;
  }

.tileset-container_selection {
  position: absolute;
  outline: 3px solid cyan;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  pointer-events:none;
  z-index: 2;
}

.tileset-container_selection2 {
    position: absolute;
    outline: 3px solid white;
    mix-blend-mode: difference;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    pointer-events:none;
  }

.canvas-container_selection {
    position: absolute;
    outline: 3px solid black;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    pointer-events:none;
    z-index: 11;
}

.layers {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.layers button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  outline: 0;
  background: transparent;
  border: 0;
  padding: 8px 0;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.layers button.active {
    font-weight: bold;
    color: cyan;
}

.layers button:hover {font-weight: bold;color: cyan}

.buttons {
  padding-right: 10px;
}

.buttons-center {
    padding-right: 10px;
    text-align: center;
}

.primary-button {
  border: 0;
  background: rgb(27, 190, 185);
  border-top: 4px solid transparent;
  border-bottom: 4px solid darkcyan;
  color: #fff;
  border-radius: 6px;
  outline: 0;
  padding: 6px 16px;
  cursor: pointer;
}

.primary-button:hover {
    background-color: darkcyan;
}

.smaller-button {
  border: 0;
  background: rgb(27, 190, 185);
  border-top: 1px solid transparent;
  border-bottom: 4px solid darkcyan;
  color: #fff;
  border-radius: 6px;
  outline: 0;
  padding: 1px 8px;
  cursor: pointer;
  margin:3px 0 6px 0;
}

.smaller-vertical-button {
  border: 0;
  background: rgb(27, 190, 185);
  border-top: 1px solid transparent;
  border-bottom: 4px solid darkcyan;
  color: #fff;
  border-radius: 6px;
  outline: 0;
  padding: 1px 8px;
  cursor: pointer;
  margin:3px 6px 0px 6px;
  display: block;
  min-width: 43px;
}

.row {
  display:table-row;
}

.column {
  float: left;
  display: table-cell;
}

.three-column-layout {
    display: grid;
    align-items: center;
    grid-template-columns: 55px 1fr 55px;
}

label {
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-weight: bold;
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
    background: transparent;
    width: 55px;
    resize: none;
    color: rgb(255, 255, 255);
}

textarea {
    background: transparent;
    resize: none;
    color: rgb(255, 255, 255);
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(0, 204, 204, 1);
}

input[type=checkbox]{
    position: relative;
      cursor: pointer;
      margin: 0 1px 0 10px;
}


input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -1px;
    left: -5px;
    border: 2px solid #737373;
    background-color: rgb(0, 0, 0);
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid cyan;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 1px;
    left: 2px;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 150px;
    color: white;
    font-size: 12px;
    background-color: darkcyan;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;

    top: 25px;
    left: -50%;
  }

  .hover-text:hover .tooltip-text {
    visibility: visible;
  }

  .hover-text {
    position: relative;
    display: inline-block;
    font-family: Arial;
    text-align: center;
    background: darkcyan;
    padding: 5px 12px;
    margin: 5px;
    font-size: 15px;
    border-radius: 100%;
    color: #ffffff;
  }

  #fade {
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .hover-text:hover #fade { opacity: 1; }

  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    padding-top: 10px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    border: 4px solid transparent;
    background-color: black;
    color: cyan;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {background-color: rgb(0, 55, 55)}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  details[open] .inst-dd {
    display: block;
  }
  details{
    margin-bottom: -10px;
  }
  summary{
    margin-bottom: 5px;
  }

  .inst-dd {
    display: none;
    position: center;
    overflow: auto;
    background-color:#000000;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }

  .inst-dd p {
    display: block;
    font-size: 0.8em;
    color: #aaa;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
  }

  .instructions-dd {
    font-size: 0.8em;
    color: #aaa;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
  }

  .inst-button{
    border: 4px solid transparent;
    background-color: black;
    color: cyan;
    padding: 4px 8px;
    text-decoration: none;
    display: center;
  }

